<fieldset>
    <legend>Contact</legend>    
    <p class="small">Fields marked <em>*</em> are required</p>
    <p><label for='first_name'>* First name</label> <%= f.text_field :first_name %></p>
    <p><label for='last_name'>* Last name</label> <%= f.text_field :last_name %></p>
    <p><label for='email'>* Email</label> <%= f.text_field :email %></p>
    <p><label for='phone'>Phone</label> <%= f.text_field :phone %></p>
    <p><label for='company'>Company</label> 
        <%= f.collection_select :company_id , Company.find(:all, :order => :name), :id, :name, :include_blank=>true %></p>               
</fieldset>        