<h3>Update Contact</h3>

<% form_for(@contact, :html=>{ :method => :put , :multipart => true }) do |f| %>  
  <%= f.error_messages %>

  <%= render :partial => 'form',  :locals => {:f => f}%>    
  <p>Current Photo</p>
  <%= image_tag @contact.photo.url(:thumb) %>
  <p class="submit"><%= f.submit "Update" %> | <%= link_to "Cancel", contact_path(@contact) %> </p>  
<% end %>