<h3>Update Contact</h3>

<% form_for(@contact, :html=>{ :method => :put , :multipart => true }) do |f| %>  
  <%= f.error_messages %>

  <div style="width: 70%; float: left;">
    <%= render :partial => 'form',  :locals => {:f => f}%> 
  </div>  
  <div style="width: 30%; float: right;">       
    <%= render :partial => 'upload_photo', :locals => {:f => f} %> 
  </div>
  <div style="float: left; width: 100%;">
    <p class="submit"><%= f.submit "Update" %> | <%= link_to "Cancel", contact_path(@contact) %> </p>
  </div>  
<% end %>