<h3>Contacts</h3>
  
<% form_tag({},:method => :get) do -%>  
        <%= text_field_tag :query, params[:query] || "search by first or last name", :id => "search", :size => 25, :onfocus => "clearText(this)", :onblur => "clearText(this)" %>
        <%= submit_tag "Search" %>
<% end -%>

<br />

<table width="100%">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Telephone</th> 
    <th>Work</th>
    <th></th>
  </tr>
  
<% @contacts.each do |contact| %>
  <tr class="<%= cycle('odd', 'even') %>"> 
    <td><%= image_tag contact.photo.url(:thumb) %></td>
    <td><%= link_to contact.first_name, contact_path(contact) %></td>
    <td><%= link_to contact.last_name, contact_path(contact) %></td>
    <td><%= contact.email %></td>
    <td><%= contact.phone %></td> 
    <td><%= (link_to contact.company.name, company_path(contact.company)) rescue nil %></td>
    <td><%= link_to 'Remove', contact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div style="text-align: center;">
    <%= will_paginate @contacts %>
</div>

<br />

<%= link_to 'Add Contact', new_contact_path %>