<h3>Contact View</h3>

<div style="width: 50%; float: left;">
  <h4><%= @contact.full_name %></h4> 
  <p>e: <%= @contact.email %> </p>
  <p>p: <%= @contact.phone%> </p>
  <p>work: <%= (link_to @contact.company.name, company_path(@contact.company)) rescue nil %> </p>
</div>
<div style="width: 50%; float: right;">
  <%= image_tag @contact.photo.url %>
</div>

<div style="float:left; width:100%;">
  <%= link_to "Edit", edit_contact_path(@contact) %> |
  <%= link_to "Home", contacts_path %>
</div>

